
<mat-card class="customer-card">
    <mat-card-header>
      <div>
        <mat-card-title>Customer</mat-card-title>
        <mat-card-subtitle>Information about your customer</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="customer-chart-container">
        <!-- <canvas baseChart
               [type]="'doughnut'"
               [data]="chartData"
               [options]="chartData.options">
        </canvas> -->
        <div class="donut-center">
          <div class="donut-content">
            <span class="donut-label">Total Customer</span>
            <span class="donut-value">100%</span>
          </div>
        </div>
      </div>
      
      <div class="customer-legend">
        <div class="customer-type" *ngFor="let customer of customerData">
          <div class="customer-type-header">
            <div class="customer-name">{{customer.type}}</div>
            <div class="customer-percent">{{customer.percentage}}%</div>
          </div>
          <mat-progress-bar mode="determinate" 
                           [value]="customer.percentage" 
                           [color]="getColorClass(customer.color)">
          </mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
