

<div class="delivery-admin-container">
    <!-- Header/Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleLeftSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <div class="logo-container">
        <span class="logo-letter">X</span>
        <h2>{{title}}</h2>
      </div>
      
      <div class="spacer"></div>
      
      <div class="search-box">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search...">
        </mat-form-field>
      </div>
      
      <div class="spacer"></div>
      
      <button mat-icon-button [matBadge]="3" matBadgeColor="accent">
        <mat-icon>chat</mat-icon>
      </button>
      
      <button mat-icon-button [matBadge]="5" matBadgeColor="accent" (click)="toggleRightSidenav()">
        <mat-icon>notifications</mat-icon>
      </button>
      
      <div class="user-avatar">
        <img src="assets/images/user-avatar.jpg" alt="User avatar">
      </div>
    </mat-toolbar>
  
    <!-- Main Content Container -->
    <mat-sidenav-container class="sidenav-container">
      <!-- Left Sidebar -->
      <mat-sidenav #leftSidenav mode="over" [mode]="(isHandset$ | async) ? 'over' : 'side'" 
                   [opened]="!(isHandset$ | async)" class="left-sidenav">
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menuItems" 
             [routerLink]="item.route" 
             routerLinkActive="active-menu-item">
            <mat-icon>{{item.icon}}</mat-icon>
            <span>{{item.title}}</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      
      <!-- Main Content -->
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
      
      <!-- Right Sidebar -->
      <mat-sidenav #rightSidenav position="end" mode="over" class="right-sidenav">
        <mat-toolbar color="primary">
          <span>Notifications</span>
          <div class="spacer"></div>
          <button mat-icon-button (click)="rightSidenav.close()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar>
        
        <mat-list>
          <h3 mat-subheader>Today</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>local_shipping</mat-icon>
            <div mat-line>New order #1234 has been placed</div>
            <div mat-line>5 minutes ago</div>
          </mat-list-item>
          
          <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <div mat-line>Driver #42 has completed delivery</div>
            <div mat-line>30 minutes ago</div>
          </mat-list-item>
          
          <mat-divider></mat-divider>
          
          <h3 mat-subheader>Yesterday</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>warning</mat-icon>
            <div mat-line>Order #987 was cancelled</div>
            <div mat-line>Yesterday, 3:45 PM</div>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>

<h1>Google Maps in Angular</h1>
<google-map width="100%" height="500px" id="map">
</google-map>
<router-outlet></router-outlet>
